/* Colours */
:root {
    --default-body-bg: #fff;
    --default-body-fg: #000;
    --default-body-fg-strong: dodgerblue;
    --default-pre-bg: ghostwhite;
    --default-success-bg: #c6efce;
    --default-success-fg: #006100;
    --default-warning-bg: #ffeb9c;
    --default-warning-fg:#9c5700;
    --default-failure-bg: #ffc7ce;
    --default-failure-fg:#9c0006;
    --default-border-bg: #999;
    --default-table-header-bg: #ccc;
    --default-header-bg: linear-gradient(135deg,ivory,bisque,bisque,bisque,ivory);
}

/* Set margins for printing */
@page {
    size: A4 portrait;
    margin: 0.75in 0.5in;
}

/* CSS reset */
* { box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Style standard elements */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  background: var( --body-bg, var( --default-body-bg ) );
  color: var( --body-fg, var( --default-body-fg ) );
}

@media print {
    body {
        padding: 0.75in;
    }
}

h1 { font-size: 32px; line-height: 40px; font-weight: 400; margin-bottom: 16px; }
h2 { font-size: 24px; line-height: 30px; font-weight: 400; margin-bottom: 16px; }
h3 { font-size: 20px; line-height: 25px; font-weight: 400; margin-bottom: 16px; }

p {
  margin-bottom: 16px;
  max-width: 960px;
}

em, i { font-style: italic; }
strong, b { font-weight: bold; }

code {
    font-family: "Courier New", monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-top: 4px;
}

p code, li code {
    background: var( --pre-bg, var( --default-pre-bg ) );
    border-radius: 4px;
}

pre {
    display: table; /* Table lets us reduce to content width, but still be a block */
    background: var( --pre-bg, var( --default-pre-bg ) );
    padding: 0.5em 1em;
    margin-bottom: 16px;
}

ul, ol {
    list-style: inside;
    margin-left: 0;
    margin-bottom: 1em;
    position: relative;
    max-width: 960px;
}

/* Nested lists we want to indent, but not have space below */
li > ul, li > ol {
    margin-left: 3em;
    margin-bottom: 0;
}

ul > ul, ol > ol, ul > ol, ol > ul {
  margin-top: 0.2em;
}

/* Showdown can put in checkboxes for task lists. They have hard-coded -1.6em
 * left margin which we can't override, so we need to adjust for it instead */
li.task-list-item:has(input[type=checkbox]) {
    margin-left: 1.6em;
}

a {
  text-decoration: none;
  color: royalblue;
  cursor: pointer;
}
a:hover {
  color: firebrick;
  text-decoration: underline;
}

hr {
    margin-bottom: 1em;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: var ( --border-bg, var ( --default-border-bg ) );
}

/* Header */
header {
    background: var( --header-bg, var( --default-header-bg ) );
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

/* Tables */
table {
  border-collapse: collapse;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  margin-bottom: 1.5em;
}

table td, table th {
  border: 1px solid var( --border-bg, var( --default-border-bg ) );
  padding: 3px 8px;
}

table thead {
  background: var( --table-header-bg, var( --default-table-header-bg ) );
  font-weight: bold;
  color: #000;
}

blockquote {
    border-left: 0.25em solid var( --border-bg, var( --default-border-bg ) );
    padding: 0 0 0 1em;
}

/* Mermaid diagrams we want a plain background */
pre:has(> code.mermaid) {
    background: transparent;
    border: 1px solid var( --border-bg, var( --default-border-bg ) );
}
